<!-- <mat-nav-list>
    <a mat-list-item routerLink="/posts" (click)="drawer.close()">Articles</a>
    <a mat-list-item routerLink="/topics" (click)="drawer.close()">Thèmes</a>z
    <a mat-list-item routerLink="/me" (click)="drawer.close()">
        <mat-icon>account_circle</mat-icon> Mon profil
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="logOut(); drawer.close()">Se déconnecter</a>
</mat-nav-list> -->


<nav class="mobile-menu">
    <div class="mobile-menu-content">
        <a mat-list-item class="lougoutButton" (click)="logOut()">Se déconnecter</a>
        <a mat-list-item routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            (click)="navigateTo('/posts')" (click)="drawer.close()">Articles</a>
        <a mat-list-item routerLink="/topics" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            (click)="navigateTo('/topics')" (click)="drawer.close()">Thèmes</a>
    </div>
    <a mat-list-item routerLink="/me" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        (click)="navigateTo('/me')" (click)="drawer.close()"><mat-icon routerLinkActive="active"
            class="userIcon">account_circle</mat-icon></a>
</nav>